Assignment 2/test.py
Assignment 2/test.txt
Assignment 3/main.c
Assignment 3/test.txt
Assignment 3/flush.py
Assignment 4/__pycache__/agent.cpython-310.pyc
Assignment 4/__pycache__/game.cpython-310.pyc
Assignment 4/__pycache__/othello.cpython-310.pyc
